.comp-info-adm {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 35px 25px;
  height: 90vh;
  width: 25%;
  background-color: #c7c7c7;
  z-index: 0;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  button{
    background: transparent;
    border: none;
    width: 50px;
    height: 35px;
    font-weight: 600;
    display: flex;
    align-self: flex-start;
    justify-self: flex-end;

    img{
      width: 40px;
      height: auto;
      margin-right: 8px;
    
      transform: rotate(180deg);
    }
  }

  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    img {
      border-radius: 100%;
      width: 100%;
      height: 14vh;

    }

    h1 {
      margin-top: 7px;
      margin-bottom: 15px;
      text-align: center;
      font-weight: 500;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px 0px;

    


    .links-pt1 {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 0px 10px;


      >div {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 15px 0px;
        margin-top: 3px;

        .usuario{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          margin-bottom: 10px;
          height: 20px;
        }

        .area-pdt{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          margin-bottom: 10px;

          img{

          }
        }

        h1 {
          margin-bottom: 4px;
          font-weight: 500;
          font-size: 19px;
        }

        #estoque {
          font-size: 19px;
          font-weight: 500;
          margin-bottom: 5px;
        }

        a {
          text-decoration: none;
          color: black;
          font-weight: 500;
          width: 80%;
          font-size: 16px;
        }

        a:hover {
          color: #2566AF;
          font-weight: 600;
        }
      }

    }



  }
}