.produto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    width: 200px;
    height: 350px;
    margin-top: 30px;
   
   
    &:hover {
        box-shadow: 0px 0px 12px 4px rgba(148, 148, 148, 0.671);
        border-radius: 5px;
        transition:  0.2s;
        transform: scale(120px);
    }


    .produto-img {
        width: 200px !important;
        height: 250px;
       
        padding: 10px;
        border-radius: 5px 5px 0px 0px;

        img{
            height: 200px;
            width: 150px;
            
        }

    }

    .infos-produto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
        
        



        h3 {
            width: 200px;
            font-size: 18px;
            font-weight: 500;
            text-align:left;
            font-family: 'f2';
            margin-bottom: -10px;
            padding-left: 10px;
        }

        h2 {
            font-size: 16px !important;
            font-family: 'f3';
            color: rgb(17, 17, 17);
            font-weight: 500;
            font-size: 1.2rem;
            padding-left: 10px;
            padding-bottom: 10px;
        }

       

    }
}



@media (max-width:414px) {
    .produto {
        width: 140px !important;
        height: 200px !important ;
    
        .produto-img {
            width: 100px !important;
            height: 150px !important;
            padding: 10px;
            margin-bottom: -45px !important;
    
            img{
                height: 100px;
                width: 80px;  
            }
    
        }
    
        .infos-produto {
            margin-left: -35px !important;
            h3 {
                font-size: 9px; 
                width: 120px !important;
                
            }
    
            h2 {
                font-size: 11px;
                margin-top: -7px;
            }
    
    
        }
    }
}



