.produto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .img-produto {
        width: 100px;
        height: 250px;
        background-color: rgb(245, 245, 245);
        padding: 10px;

        img{
            height: 200px;
            width: 170px;
            background-color: rgb(245, 245, 245);
        }

    }

    .infos-produto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;



        h3 {
            width: 280px;
            font-size: 16px;
            font-weight: 500;
            text-align:left;
            font-family: 'f2';
        }

        h2 {
            font-family: 'f3';
            color: rgb(17, 17, 17);
            font-weight: 500;
            font-size: 1.2rem;
        }


        p {
            color: #000;
            width: 250px;
            font-size: 14px;
            text-align: left;
            font-weight: 600;
        }
    }
}




@media (max-width:980px) {

    .produto{
        img{
            width: 80px !important;
        }
        >div{
            h3{
                width: 200px;
            }
            h2{
                font-size: 18px;
            }
            p{
                width: 200px;
            }
        }
      
    }
    
  }

  @media (max-width:750px) {

    .produto{
        >div{
            
            h3{
                width: 150px;
            }
            h2{
                font-size: 15px;
            }
            p{
                display: none;
            }
        }
      
    }
    
  }

  @media (max-width:620px) {

    .produto{
        img{
            width: 60px !important;
        }
        
        >div{
            height: 40px;
            
            h3{
                font-size: 13px;
                width: 150px;
            }
            h2{
                font-size: 15px;
            }
            
        }
      
    }
    
  }

  @media (max-width:570px) {
    .produto{
        img{
            position: relative;
            top: 15px;
            width: 50px !important;
        }
        div{
        h3{
            font-size: 10px;
            width: 100px;
        }
        h2{
            font-size: 12px;
            margin-bottom: 10px;
        }

    }
    }
  }

  @media (max-width:500px) {
    .produto{
        img{
            width: 40px !important;
        }
        img{
            position: relative;
            top: 40px;
            
        }
        div{
        h3{
            
            font-size: 9px;
            width: 80px;
        }
        h2{
            font-size: 10px;
            margin-bottom: 10px;
        }

    }
    }
  }
