.App {
  display: flex;
  flex-direction: column;
  height: auto;
  font-family: 'f1';

  nav {
    margin-top: 1%;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 25px;
      word-spacing: 5px;
      margin-bottom: 20px;
    }
  }

  aside {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;

    a{
      text-decoration: none;
      color: #000;
    }

    div {
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      background: #FFB800;
      height: 32.5vh;



      img {
        height: 28vh;
        margin-bottom: 5px;
        border-radius: 20px 20px 0px 0px ;
      }

      h1 {
        margin-top: 4px;
        font-size: 20px;
        text-align: center;
      }
    }
  }

  > section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    width: 100%;
    font-family: 'italic';
    background-color: #181818;

    img {
      width: 20%;
    }



    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      gap: 20px;
      
      a{
        text-decoration: none;
      }

      h1 {
        color: #FFF;
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.48px;
        width: 65%;
      }

      h4 {
        width: 80%;
        color: #FFF;
        text-align: center;
        font-size: 22px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 1.24px;
      }

      button {
        margin-top: 5%;
        width: 25%;
        height: 4vh;
        border-radius: 25px;
        border: none;
        background-color: #FFB800;
        color: #000;
        font-weight: 700;
      }

      button:hover {
        margin-top: 5%;
        width: 25%;
        background-color: #ffffff;
        transition: 0.2s;
      }
    }
  }

  .home-produtos {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 2%;

    .fora {
      display: flex;
      flex-direction: row;
      gap: 60px;

      div {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}

@media (max-width:1600px) {

  .App{
    section{
      
        >img{
          height: 25vh;
          width: 30vw;
        }
      
    }
  }
  
}

@media (max-width:1200px) {

  .App{
    nav{
      height: 10vh;
    }
    aside{
      div{
        height: 24vh;
        img{
          height: 20vh;
        }
      }
    }

    section{
      height: 30vh;
      >img{
        height: 20vh;
        width: 30vw;
      }
      div{
        h1{
          width: 500px;
          font-size: 20px;
        }
        h4{
          width: 500px;
          font-size: 17px;
        }

        button{
          width: 150px;
          border-radius: 25px;
        }
      }
    
  }
  }
  
}

@media (max-width:980px) {

  .App{
    .home-produtos{
      height: 50vh;
      .fora{
        div{
          width: 25vw;
          height: 30vh;
        }
      }
    }
  }
  
}

@media (max-width:800px) {

  .App{

    nav{
      height: 12vh !important;
      margin-bottom: 20px;
      h1{
        font-size: 20px;
      }
      h3{
        font-size: 20px;
      }
    }

    section{
      height: 30vh;
      >img{
        height: 20vh;
        width: 30vw;
      }
      div{
        h1{
          width: 400px;
          font-size: 20px;
        }
        h4{
          width: 400px;
          font-size: 17px;
        }

        button{
          width: 150px;
          border-radius: 25px;
        }
      }
    
  }

    aside{

      height: 25vh;
      div{
        height: 20vh;
        width: 22vw;
       
        img{
          height: 16vh;
        }

        h1{
          font-size: 16px;
        }
      }
    }

    .home-produtos{
      height: 50vh;
    }
  }
  
}

@media (max-width:750px) {

  .App{
    .home-produtos{
      height: 40vh;
      .fora{
        div{
          width: 25vw;
          height: 25vh;
        }
      }
    }
  }
  
}

@media (max-width:680px) {
  .App{

    nav{
      height: 10vh;
    }
    aside{
      height: 22vh;
      div{
        height: 18vh;
        img{
          height: 14vh;
          
        }
        h1{
          font-size: 14px;
        }
      }
    }

    section{
      height: 25vh;
      >img{
        height: 20vh;
        width: 40vw;
      }
      div{
        h1{
          width: 300px;
          font-size: 18px;
        }
        h4{
          width: 300px;
          font-size: 14px;
        }

        button{
          height: 40px;
          width: 120px;
          border-radius: 25px;
        }
      }
    
  }
  }
}

@media (max-width:620px) {

  .App{
    .home-produtos{
      height: 35vh;
      .fora{
        div{
          width: 25vw;
          height: 20vh;
        }
      }
    }

    aside{

      height: 20vh;
      div{
        height: 16vh;
        img{
          height: 12vh;
        }

        h1{
          font-size: 14px;
        }
      }
    }

  }
  
}

@media (max-width:570px) {

  .App{
    .home-produtos{
      height: 30vh;
      .fora{
        div{
          width: 22vw;
          height: 17vh;
        }
      }
    }

    aside{

      height: 20vh;
      div{
        height: 16vh;
        width: 25vw;
        img{
          height: 12vh;
        }
      }
    }

  }
  
}

@media (max-width:550px) {

  .App{
    section{
      height: 22vh;
      >img{
        height: 15vh;
        width: 35vw;
      }
      div{
        h1{
          width: 250px;
          font-size: 16px;
        }
        h4{
          width: 250px;
          font-size: 13px;
        }

        button{
          height: 30px;
          width: 120px;
          border-radius: 25px;
        }
      }
    
  }

  }
  
}

@media (max-width:500px) {

  .App{

    nav{

      h1{
        font-size: 18px;
      }
      h3{
        font-size: 18px;
      }
    }
    .home-produtos{
      height: 28vh;
      h1{
        
        font-size: 20px;
      }
      
      .fora{
        
        div{
          width: 20vw;
          height: 10vh;
        }
      }
    }

    section{
      div{
      h1{
        margin-top: 10px;
        font-size: 14px;
        width: 200px;
      }
      h4{
        font-size: 12px;
      }

      button{
        margin-top: -15px;
      }
    }
    }

    aside{

      height: 15vh;
      div{
        width: 24vw;
        height: 12vh;
        h1{
          font-size: 11px;
        }
        img{
          
          height: 9vh;
        }
      }
    }

  }
  
}

