.pagina-pedidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: rgb(245, 245, 245);

    aside {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
        
        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 20px;
            width: 25vh;
            
        }
        
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            h3 {
                font-weight: 500;
                font-size: 16px;
            }

            h1 {
                font-weight: 600;
                font-size: 18px;
            }

            button {
                width: 100%;
                max-width: 200px;
                height: 35px;
                border-radius: 40px;
                border: 1px solid black;
                background-color: #ffb800;
            }
        }
    }

    article {
        display: flex;
        flex-direction: row;
        padding: 15px;
        border-radius: 15px;
        background-color: white;
        margin: 10px 0;
        width: 100%;

        .pt-cima,
        .pt-baixo {
            width: 100%;
        }

        .pt-cima {

            button {
                background-color: yellow;
            }
            h1 {
                color: rgb(45, 45, 45);
                font-size: 20px;
                font-weight: 600;
                font-family: 'arial';
                margin-bottom: 10px;
            }

            div {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }
        }

        .pt-baixo {
            div {
                display: flex;
                flex-direction: column;
                margin-bottom: 3px;
            }

            input {
                height: 30px;
                width: 50vh;
            }

            > h1 {
                color: rgb(45, 45, 45);
                font-size: 20px;
                font-weight: 600;
                font-family: 'arial';
                margin-bottom: 10px;
            }
        }
    }

    table {
        width: 1360px;
        border-collapse: collapse;
        font-weight: 700;
        margin-top: 20px;
    }
    th, td {
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #cfcfcf;
        color: #767676;
    }
    th {
        font-weight: 500;
        border-bottom: 1px solid #b4b4b4;
        color: #9b9b9b;
    }
    
    th:first-child {
        width: 20%;
    }

    .celula-item {
        display: flex;
        align-items: center;
        text-align: left;
    }
    .celula-item h3 {
        margin: 2px 0;
        color: #575757;
    }
    .celula-item img {
        height: 100px;
        margin-right: 15px;
    }
    .celula-item h4 {
        color: #808080;
        font-weight: 500;
    }

    .info-extra {
        display: flex;
        max-width: 500px;
    }
    .info-extra .form > div label {
        min-width: 4em;
    }

    .form > div label {
        min-width: 7em;
    }
}

@media (max-width: 768px) {
    aside {
        div {
            button {
                max-width: none;
            }
        }
    }
}

@media (max-width: 464px) {
    aside {
        h1 {
            font-size: 24px;
        }

        div {
            h3 {
                font-size: 14px;
            }

            h1 {
                font-size: 16px;
            }
        }
    }

    article {
        padding: 10px;

        .pt-cima,
        .pt-baixo {
            width: 100%;
        }

        .pt-cima {
            h1 {
                font-size: 18px;
            }

            div {
                gap: 5px;
            }
        }

        .pt-baixo {
            input {
                width: 100%;
            }

            > h1 {
                font-size: 18px;
            }
        }
    }
}
