.home-adm{
  display: flex;
  flex-direction: column;
  height: auto;

  aside{
    display: flex;
    flex-direction: row;
    height: 90vh;
    
    section{
      width: 75%;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

    }
  }
  
}
  
  
