.pg-produto {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'f1';
  
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 140px;
      margin-bottom: 8%;
      height: 40vh;
  
      .imagem {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
  
        img {
          width: 60%;
        }
      }
  
      .info-produto {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        width: 40%;
  
        div{

          .imagens-pr {

            img {
              width: 10%;
            }
          }

          h1{
            width: 85%;
            text-align: left;
            font-size: 40px;
            margin-bottom: 20px;
            font-weight: 500;
          }
    
          h2{
            text-align: left;
            font-size: 35px;
            margin-bottom: 15px;
            font-weight: 400;
          }
  
          h3{
            text-align: left;
            font-size: 18px;
            color: #000000ec;
            margin-bottom: 20px;
            font-weight: 400;
          }
        }
  
       
  
        button{
          background-color: #000;
          color: #fff;
          height: 5vh;
          width: 15vw;
          border: none;
          border-radius: 20px;
          margin-bottom: 25px;
          padding:5px 5px;
          font-size: 16px;
          font-weight: 600;
        }

        button:hover{
          background-color: white;
          transition: 0.5s;
          border: 1px solid black;
          color: #000;
        }
  
        .form-pay{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 50%;
          margin: 5px;
          width: 400px;
        }
      }
  
    }
  
    hr{
      background-color: #000000;
      height: 2px;
      border: none;
      width: 93%;   
      margin-bottom: 20px;  

     
    }
  
    section{
      display:flex ;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      color: rgb(0, 0, 0);
      width: 100%;
      height: 25vh;
      padding-left: 90px;
  
      h1{
        font-size: 40px;
        font-weight: 600;
      }

      .descricao {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-bottom: 40px;
       
       
        
        h1 {
            font-size: 20px;
            
            font-weight: 500;
            width: 100%;
            
        }
      }
    }
  
  }