.pagina-equipamentos {
  display: flex;
  flex-direction: column;
  height: auto;
  font-family: 'f1';

  nav {
    margin-top: 1%;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    h1 {
      font-size: 25px;
      word-spacing: 5px;
      margin-bottom: 20px;
    }
  }

    
}

