
  .comp-header-adm{
    height: 10vh;
    width: 100%;
    z-index: 1;

  >div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:5px ;
    background-color: rgba(0, 0, 0, 0.959);
    box-shadow: 0px 5px 8px #e9c600;

    > img{
      height: 8vh;
      width: 100px;
      margin-bottom: 5px;
    }

    }

}


