body {
  margin: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0px;
  box-sizing: border-box;
  
}
@font-face {
  font-family: 'f1';
  src: url(../../site/public/assets/fonts/f1.otf);
}


@font-face {
  font-family: 'italic';
  src: url(../../site/public/assets/fonts/italic.otf);
}
