.App {
  display: flex;
  flex-direction: column;
  height: auto;

  nav {
    margin-top: 8%;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 25px;
      word-spacing: 5px;
      margin-bottom: 20px;
    }
  }

  aside {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;

    div {
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      background: #FFB800;
      height: 43vh;
      width: 40vh;



      img {
        height: 34vh;
        width: 40vh;
        margin-bottom: 5px;
      }

      h1 {
        margin-top: -01px;
        font-size: 20px;
        text-align: center;
      }
    }
  }

  > .acesse-home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: 100%;
    background-color: #181818;

    img {
      width: 25%;
    }



    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      gap: 10px;

      h1 {
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.48px;
        width: 65%;
      }

      h4 {
        width: 80%;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 1.24px;
      }

      button {
        margin-top: 5%;
        width: 25%;
        height: 4vh;
        border-radius: 15px;
        border: none;
        background-color: #FFB800;
        color: #000;
        font-weight: 700;
      }

      button:hover {
        margin-top: 5%;
        width: 25%;
        background-color: #ffffff;
        transition: 0.2s;
      }
    }
  }

  .home-produtos {
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 2%;

    .fora {
      display: flex;
      flex-direction: row;
      gap: 60px;

      div {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}
