.App{
  display: flex;
  flex-direction: column;
  height: auto;

  
  nav{
    margin-top:1% ;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    h1{
      word-spacing:5px;
    }
  }
  
  aside{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;

    div{
    display: flex;
    flex-direction: column;
    border-radius:20px;
    background: #FFB800;
    height: 34vh;


      img{
        height: 28vh;
      }

      h1{
      
      text-align: center;
      }
    }
  }
  
}
  
  
