.add-produto {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'f1';

  nav {
    display: flex;
    flex-direction: row;


    .meio {
      width: 80%;
      background-color: rgb(255, 255, 255);
      height: 85vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      overflow: hidden;
      margin-top: 3vh;

      > h1 {
        font-size: 30px;
        margin-bottom: 20px;
      }

      .upload{ 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        
        background-color: #ffffff;
        border: 2.5px solid black;
        height:250px;
        width:250px;
        border-radius: 20px;
        margin-bottom: 50px;
        cursor: pointer;


        input{
         position: absolute;    
         visibility: hidden; 
        }

        .imagem-produto{
          height:220px;
          width: 180px;
          border-radius: 20px;
        }

      }


      > button {
        margin-top: 10px;
        border: none;
        padding: 10px 30px;
        border-radius:25px;
        background-color: #ffb800;
        border: 2px solid #000;

        color: #000000;
        font-size: 14px;
        font-weight: 700;
      }

      .inputs{
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100vh;
       

      div{
        h1{
          margin-bottom: 5px;
          font-size: 18px;
        }

        input{
          margin-bottom: 20px;
          height:4vh ;
          padding: 0px 10px;
          width: 400px;
          font: 'Arial';
          font-size: 16px;
          border-radius: 5px;
          border: 1px solid black;
          outline: none ;
        }

        textarea{
          width: 400px;
          height: 12vh;
          font-size: 16px;
          padding: 5px 10px;
          resize: none;
          font-family: 'arial';
          margin-bottom: 20px;
          border-radius: 5px;
          border: 1px solid black;
        }

        select{
          width: 400px;
          height: 4vh;
          padding: 0px 10px;
          font-size: 16px;
          border: 1px solid black;
          border-radius: 5px;
        }
        
      }
      }
    }

    
  }
}
@media (max-width:1600px) {
      .add-produto{
        
      }
}