.meuperfil {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'f1';
  height: 100vh;

  nav {
    display: flex;
    flex-direction: row;


    .meio {
      width: 80%;
      background-color: rgb(255, 255, 255);
      height: 85vh;
      
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      overflow: hidden;
      margin-top: 3vh;

      > h1 {
        font-size: 30px;
        margin-bottom: 20px;
      }

      > button {
        
        border: none;
        padding: 8px 20px;
        border-radius: 25px;
        background-color: #ffb800;
        border: 1px solid #000;
        font-size: 16.1px;
        font-weight: 600;
      }

      p {
        margin-top: 13px;
        color: red;
        font-size: 2.5vh;
      }

      .infos{
        width: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .inputs{
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items:flex-start  ;
          width: 100vh;
          gap: 20px 0px;
        
          #inp-email{
            div{
              display: flex;
              flex-direction: column;
              align-items:flex-start;
              justify-content:center;
              
              border: 1px solid black;
              width: 400px;
              height: 35px;
              border-radius: 5px;
              margin-bottom: 10px;
              
              h1{
                font-weight: 500;
                font-size: 15px;
                padding: 8px;
              }

            }
          }

        div{
          h1{
            margin-bottom: 5px;
            font-size: 18px;
          }
  
          input{
            background-color:none;
            width: 400px;
            height: 35px;
            border: 1px solid black;
            border-radius: 5px;
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 15px;
            padding: 8px;
          }
          
        }
        }
      }
    }

    
  }
}
