.footer {
    width: 100%;
    background-color: black;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    div{    
        display: flex;
        flex-direction: column;
        color: aliceblue;
        gap: 8px;
        margin: 10px;

        h1{
            
            font-size: 14px;
            text-align: center;
        }

        a{  text-decoration: none;
            color: white;
            font-size: 12px;
            font-weight: 500;
        }

        a:hover{
            text-decoration: underline;
            text-decoration-color: white;
            transition: 0.5s;
        }

        p {
            
            .insta {
                width: 65px;
            }
        }
    }
    
}

@media (max-width:980px) {
    .footer{
        

        

        .logo{
            width: 100px;
        }

        h1{
            
            
            font-size: 8px;
        }

        a{
            font-size: 10px;
        }
    }
    
}

@media (max-width:925px) {
    .footer{
        

        

        .logo{
            width: 80px;
        }

        h1{
            
            
            font-size: 6px;
        }

        a{
            font-size: 8px;
        }

        p{
            
        }
    }
    
}

@media (max-width:900px) {
    .footer{
        

        

        .logo{
            width: 75px;
        }

        h1{
            
            
            font-size: 6px;
        }

        a{
            font-size: 8px;
        }

        p{
            .tiktok{
                width: 50px !important;
            }
            
            .x{
                width: 30px !important;
            }

            .insta{
                width: 40px !important;
            }
        }
    }
    
}

@media (max-width:800px) {
    .footer{
        

        

        .logo{
            width: 60px;
        }

        h1{
            
            
            font-size: 14px !important;
        }

        a{
            font-size: 14px !important;
        }

        p{
            .tiktok{
                width: 50px !important;
            }
            
            .x{
                width: 30px !important;
            }

            .insta{
                width: 40px !important;
            }
        }
    }
    
}

@media (max-width:825px) {
    .footer{
        

        height: 15vh;

        .logo{
            width: 60px;
        }

        h1{
            
            
            font-size: 12px !important;
        }

        a{
            font-size: 12px !important;
        }

        p{
            .tiktok{
                width: 50px !important;
            }
            
            .x{
                width: 30px !important;
            }

            .insta{
                width: 40px !important;
            }
        }
    }
    
}

@media (max-width:680px) {
    .footer{
        
        height: 15vh;
        

        .logo{
            display: none;
        }

        h1{
            
            
            font-size: 12px !important;
        }

        a{
            font-size: 12px !important;
        }

        p{
            .tiktok{
                width: 50px !important;
            }
            
            .x{
                width: 30px !important;
            }

            .insta{
                width: 40px !important;
            }
        }
    }
    
}


@media (max-width:680px) {
    .footer{
        height: 15vh;

        h1{
            
            
            font-size: 10px !important;
        }

        a{
            font-size: 10px !important;
        }

        p{
            .tiktok{
                width: 50px !important;
            }
            
            .x{
                width: 30px !important;
            }

            .insta{
                width: 40px !important;
            }
        }
    }
    
}

@media (max-width:550px) {
    .footer{
        

        h1{
            
            
            font-size: 10px !important;
        }

        a{
            font-size: 10px !important;
        }

        p{
            .tiktok{
                width: 30px !important;
            }
            
            .x{
                width: 20px !important;
            }

            .insta{
                width: 30px !important;
            }
        }
    }
    
}

@media (max-width:510px) {
    .footer{
        

        h1{
            
            
            font-size: 9px !important;
        }

        a{
            font-size: 9px !important;
        }

        p{
            .tiktok{
                width: 28px !important;
            }
            
            .x{
                width: 18px !important;
            }

            .insta{
                width: 25px !important;
            }
        }
    }
    
}




