/* toastStyles.css */

/* Estilo do toast */
.Toastify__toast {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border-radius: 8px; /* Borda arredondada */
  }
  
  /* Estilo do botão de fechar do toast (se aplicável) */
  .Toastify__close-button {
    color: #fff; /* Cor do botão de fechar */
    font-size: 16px;
  }
  
  /* Estilo do título do toast */
  .Toastify__toast-body {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Estilo para toasts criados com toast.dark */
.Toastify__toast--dark {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    /* Outros estilos */
  }
  