.comp-card-endereco-pg{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    height: 150px;
    
    div{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .tipos{
        font-weight:700 ;
        margin-bottom: 10px;
    }

    .ends,.ceps{
        font-size: 15px;
    }

    .ceps{
        margin-top: 10px;
        font-weight: 500;
    }

}