
.comp-header{
    height: 80px;
    width: 100%;
    z-index: 1;

  >div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    box-shadow: 0px 5px 8px #ffb800;

    .l1{
      img{
        height: 80px;
      }
    }

    > img{
      height: 7.5vh;
      width: 6.5%;
      margin-bottom: 5px;
      margin-left: 10px;
    }

    .inp-busca{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0px 10px;

      height: 3vh;
      width: 27%;
      border: 1px solid #fff;
      border-radius: 20px;
      

      input{
        background: transparent;
        border: none;
        box-shadow: 0 0 0 0;
        outline: 0;
        width: 90%;
        color: #fff;
      }

      input::placeholder{
        color:#fff ;
        font-size: 13px;
      }

      img{
        height:1.5vh ;
        width: 100%;
      }

      button{
        background: none;
        border: none;
      }

      
    }

    .icons{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0px 20px;
      button{
        background: none;
        border: none;
      }

      
      img{
        width: 4vh;
        height: 35%;
      }

      a{
        font-size: 14px;
        color: white;
        font-weight: 500;
        text-decoration: none;
        margin-right: 10px;
      }

      a:hover{
        color: rgb(230, 230, 230);
        transition: 0.5s;
        
      }
    
    }
  }

}

@media (max-width:1200px) {
  .comp-header{
  div{
  .logo{
    width: 100px;
  }
}
}
}


@media (max-width:600px) {
 
  .container{
    div{
     
      width: 80px;
      p{
        font-size: 12px;
      }
    }
  }
}


@media (max-width:500px) {
 
  .container{
    div{
     
      width: 60px;
      p{
        font-size: 10px;
        font-weight: 600;
      }
    }
  }
}
