
  .comp-header{
    height: 18vh;
    width: 100%;

  >div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:5px ;
    background-color: rgba(0, 0, 0, 0.966);
    box-shadow: 0px 5px 8px #e9c600;

    > img{
      height: 8vh;
      width: 5%;
      margin-bottom: 5px;
    }

    .inp-busca{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0px 10px;

      height: 4vh;
      width: 27%;
      border: 1px solid #fff;
      border-radius: 20px;
      

      input{
        background: transparent;
        border: none;
        box-shadow: 0 0 0 0;
        outline: 0;
        width: 90%;
        color: #fff;
      }

      input::placeholder{
        color:#fff ;
        font-size: 13px;
      }

      img{
        height:1.5vh ;
        width: 100%;
      }

      button{
        background: none;
        border: none;
      }
    }

    .icons{
      button{
        background: none;
        border: none;
      }

      img{
        width: 4.5vh;
        height: 35%;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100%;

  }
  
  .container > div {
    margin-top: 2.5%;
    flex: 1;
    text-align: center;
    padding: 20px;    
    border-bottom:1px solid black ;

  
    &:not(:last-child) {
      position: relative;

  
      &::after {
        content: "";
        position: absolute;
        top: 50%; 
        right: 0;
        transform: translateY(-50%);
        height: 60%; 
        border-right: 1px solid black;
        z-index: -50;

      }
    }
  }

}
