$primary-color: #FFB800; // Primary color, change as needed

.endereco {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    background-size: cover;
    background-color: #ffffff;
    font-family: 'f1';



    .endereco_form_container {
        margin-top: 10vh;
        margin-bottom: 1vh;
        width: 800px;
        height: 650px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-radius: 40px;
        background-color: #000000;
    
        padding: 40px 40px;
        color: #ffffff;

        h2 {
            font-size: 28px;
            font-weight: 600;
            text-align: center;
            color: $primary-color;
        }

        p {
            margin-top: 20px;
            color: #555;
            font-weight: 600;
            font-size: 16px;
        }
        .parse{
            display: flex;
        
        .parserow{
            display: flex;
            flex-direction: column;
        .input_endereco {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: start;
            margin-bottom: 5px;
        }
        }
        }   

        .input_text,
        .input_textn {
            width: 35vh;
            height: 10px;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 2px solid $primary-color;
            font-size: 17px;
            padding: 10px 0px 15px 10px;
            margin: 10px;
            color: $primary-color;
            margin-bottom: 10px;
            transition: border-bottom-color 0.3s ease;

            &:focus {
                color: #fff;
            }
        }

        ::placeholder {
            font-size: 17px;
            color: #555;
            letter-spacing: 1px;
        }

        .fa {
            font-size: 20px;
            color: $primary-color;
        }

        .comp-num {
            display: flex;
            gap: 25px; 
            width: 88%;

            >div {
                flex: 1;

                p {
                    margin-top: 20px;
                    color: #555;
                    font-weight: 600;
                    font-size: 16px;
                }

                .input_endereco {
                    input {
                        width: 100%;
                        height: 10px;
                        background: transparent;
                        border: none;
                        outline: none;
                        border-bottom: 2px solid $primary-color;
                        font-size: 20px;
                        padding: 10px;
                        color: $primary-color;
                        margin-bottom: 10px;
                        transition: border-bottom-color 0.3s ease;

                        &:focus {
                            color:#ffff;
                        }
                    }

                    
                }
            }
        }

        .cadastrar-endereco {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 15vh;

            button {
                padding: 15px 355px;
                background-color: $primary-color;
                border-radius: 5px;
                font: 16px arial;
                font-weight: 700;
                color: #e7d5d5;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-top: 10px;

                &:hover {
                    background-color: darken($primary-color, 10%);
                }
            }
        }
    }
}

@media (max-width:855px) {
    .endereco_form_container{
        width: 600px !important;
        height: 550px !important;

        h2{
            font-size: 20px !important;
        }

        p{
            margin-top: 5px !important;
        }

        .input_text,
        .input_textn {
            width: 27vh !important;
        }

        
    }
    

    
}