.pagina-carrinho {
    font-size: 'f1';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2vh;

    .qtd {
        width: 100%;
        padding: 1vh 3vh;
        display: flex;
        justify-content: space-between;

        button {
            background-color: #ffb800;
            text-decoration: none;
            border-radius: 14px;
            padding: 1vh 1.5vh;
            font-weight: 600;
        }

        button:hover{
            background-color: rgb(240, 240, 240);
            transition: 0.5s;
            cursor: pointer;
        }
        
    }

    .titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    } 

   .info-carrinho {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
   }

   .total {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    gap: 2vh;
    

    > div{
        gap: 1vh;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: start;

    p {
        font-size: 3vh;
    }

    button {
        background-color: #ffb800;
        padding: 1vh 2.5vh;
        border-radius: 15px;
        font-weight: 600;

    }
    button:hover{
        background-color: rgb(240, 240, 240);
        transition: 0.5s;
        cursor: pointer;
    }
    

    }

    hr{
        width: 2px;
        background-color: black;
        border: none;
    }
  
}
}