.info-minha-conta {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: auto;
  padding: 35px 25px;
  height: 100vh;
  width: 25%;
  background-color: #c7c7c7;
  z-index: 0;


  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .sair {
    background: transparent;
    border: none;
    width: 50px;
    height: 35px;
    font-weight: 600;
    display: flex;
    align-self: flex-start;
    position: absolute;
    bottom: 5%;

    img {
      width: 40px;
      height: auto;
      margin-right: 8px;

      transform: rotate(180deg);
    }
  }

  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    .imagem-usuario {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      background-color: #ffffff;
      border: 2.5px solid black;
      height: 160px;
      width: 160px;
      border-radius: 100%;
      overflow: hidden;


      input {
        position: absolute;
        visibility: hidden;
      }

      .imagem-cliente {
        height: 100%;
        width: 100%;
        border-radius: 20px;
      }

      #img-user {
        height: 100%;
        width: 100%;
      }

      #img-user2 {
        height: 70%;
        width: 70%;
      }

    }

    button {
      margin-bottom: 5px;
      background: transparent;
      border: none;
      margin-top: 2px;
      cursor: pointer;
    }

    h1 {
      margin-top: 7px;
      margin-bottom: 15px;
      text-align: center;
      font-weight: 600;
    }

    p{
      margin-top: -10px;
    }
  }

  .linkss {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px 10px;
    margin-left: 30px;


    .linkss-pt1 {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 0px 15px;


      div {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 25px 0px;
        margin-top: 3px;

        a {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          text-decoration: none;
          color: black;
          font-weight: 500;
          width: 100%;
          font-size: 20px;
          gap: 20px;

          img {
            width: 25px;
          }
        }

        a:hover {
          transition: 0.5s;
          transition-delay: 0.1s;
          background-color: #ffffff;
          width: 105%;
          height: 5vh;
          padding: 20px;
          border-radius: 10px 0px 0px 10px;
        }
      }

    }
  }


   
   
}


@media (max-width:414px) {
  .info-minha-conta{
    width: 30%;

    .sair{
      width: 30px;
      margin-left: -20px;

      img{
        width: 30px;
      }
    }
    .user{
      margin-bottom: 80px;

      .imagem-usuario{
        height: 80px;
        width: 80px;
      }

      button{
        margin-top: 8px;
      }

      h1{
        font-size: 16px;
      }
    }

    .linkss{
      margin-left: -30px;
      .linkss-pt1{

        div{
          a{
            font-size: 15px;
            width: 100px;
            gap: 8px;
            font-size: 14px;

            img{
              width: 15px;
            }
          }

          a:hover{
            width: 160%;
            height: 5.5vh;
          }

        }
      }
    }
  }
}