.info-minha-conta {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 35px 25px;
  height: 90vh;
  width: 25%;
  background-color: #c7c7c7;
  z-index: 0;


  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .sair{
    background: transparent;
    border: none;
    width: 50px;
    height: 35px;
    font-weight: 600;
    display: flex;
    align-self: flex-start;
    position: absolute;
    bottom: 5%;

    img{
      width: 40px;
      height: auto;
      margin-right: 8px;
    
      transform: rotate(180deg);
    }
  }

  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    .imagem-usuario{ 
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; 
      
      background-color: #ffffff;
      border: 2.5px solid black;
      height:160px;
      width:160px;
      border-radius: 100%;
      overflow: hidden;


      input{
       position: absolute;    
       visibility: hidden; 
      }

      .imagem-cliente{
        height:100%;
        width: 100%;
        border-radius: 20px;
      }

      #img-user{
        height:100%;
        width: 100%;
      }

      #img-user2{
        height:70%;
        width: 70%;
      }

    }

    button{
      margin-bottom: 5px;
      background: transparent;
      border: none;
      margin-top: 2px;
      cursor: pointer;
    }

    h1 {
      margin-top: 7px;
      margin-bottom: 15px;
      text-align: center;
      font-weight: 600;
    }
  }

  .linkss {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px 10px;
    margin-left: 30px;

    
    .linkss-pt1 {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 0px 10px;


      div {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 15px 0px;
        margin-top: 3px;

        a {
          text-decoration: none;
          color: black;
          font-weight: 500;
          width: 80%;
          font-size: 19px;

          img{
            width: 15px;
          }
        }

        a:hover {
          text-decoration: underline;
          text-decoration-color: #ffb800;
          font-size: 20px;
          transition: 0.2s;
        }
      }

      }
    }



  }
