.endereco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 90%;
    background-size: cover;
    height: 100vh;


    .linha {
        top: 0;
        position: absolute;
        width: 100%;
        background-color: #FFB800;
        height: 4px;
    }

    .enderecobox {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 60%;
        margin: 20px;

        h1 {
            font-size: 24px;
            font-weight: 900;
            margin-bottom: 40px;
            color: black;
            letter-spacing: 3px;
            text-decoration:underline;
            text-decoration-color: #FFB800;
            
        }

        

        input {
            margin: 10px;
            outline: none;
            border: none;
            height: 30px;
            width: 75%;
            padding: 5px 8px;
            border-radius: 5px;
            background-color: white;
            border: solid 1px black;
        }

        button{
            margin-top: 30px;
            font-weight: 600;
            font-size: 18px;
            background-color: #ffb800;
            border: 2px solid #00000000;
            color: rgb(0, 0, 0);
            border-radius: 15px;
            width: 40%;
            height: 30px;
        }
        
        button:hover{
            cursor: pointer;
            background-color: #ffb700a9;
            color: rgb(218, 215, 215);
            transition: 0.5s;
        }
    }


}